@charset "UTF-8";

@font-face {
   font-family: 'Roboto';
      src: url('../fonts/Roboto-Regular-webfont.eot');
      src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
           url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
           url('../fonts/Roboto-Regular-webfont.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
      src: url('../fonts/Roboto-Thin-webfont.eot');
      src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
           url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
           url('../fonts/Roboto-Thin-webfont.svg') format('svg');
   font-weight: 100;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
      src: url('../fonts/Roboto-Light-webfont.eot');
      src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/Roboto-Light-webfont.woff') format('woff'),
           url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
           url('../fonts/Roboto-Light-webfont.svg') format('svg');
   font-weight: 200;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
      src: url('../fonts/Roboto-Medium-webfont.eot');
      src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
           url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
           url('../fonts/Roboto-Medium-webfont.svg') format('svg');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
      src: url('../fonts/Roboto-Bold-webfont.eot');
      src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
           url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
           url('../fonts/Roboto-Bold-webfont.svg') format('svg');
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
      src: url('../fonts/Roboto-Black-webfont.eot');
      src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/Roboto-Black-webfont.woff') format('woff'),
           url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
           url('../fonts/Roboto-Black-webfont.svg') format('svg');
   font-weight: 800;
   font-style: normal;
}

.title{
  color: #0092cf
}

.seccion{
  padding-bottom: 50px;
}

a{
  text-decoration: none !important;
}

.container-sidenav{
  padding-left: 300px !important;
  padding-top: 100px;
}

.docs-examlpe {
  margin: 60px 0; }
  .docs-examlpe .docs-content {
    padding: 30px;
    border-radius: 8px 8px 0 0; }
  .docs-examlpe .docs-code {
    padding: 15px 30px;
    background: #e5e5e5;
    border: none;
    border-radius: 0 0 8px 8px; }

.docs-colores {
  margin: 30px 0 10px; }
  .docs-colores span {
    display: inline-block;
    width: 110px;
    height: 110px;
    padding-top: 36px;
    margin: 0 20px 20px 0;
    text-align: center;
    border-radius: 110px; }

.docs-container > h1, .docs-container > h2, .docs-container > h3, .docs-container > h4, .docs-container > h5, .docs-container > h6 {
  margin-top: 2em; }
  .docs-container > h1.no-margin, .docs-container > h2.no-margin, .docs-container > h3.no-margin, .docs-container > h4.no-margin, .docs-container > h5.no-margin, .docs-container > h6.no-margin {
    margin-top: 0; }

/* colores */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #ededed !important; }

.docs-colores {

}
  .docs-colores span {
    color: #fff;
    text-align: center;
    margin: 20px auto;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    padding-top: 36px;
    display: block;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    font-weight: bold; }

pre[class*="language-"] {
  padding: 2em !important;
}

#docs .docs-container hr {
  margin: 60px 0 60px; }

.mobile-banner{
  display: none;
}

@media screen and (max-width: 620px) {
  html{
    overflow: hidden;
  }
  .mobile-banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0092cf;
    z-index: 1000;
    color: #fff;
    padding: 100px 40px;
  }
}
